*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    background: rgba(5, 28, 5, 0.694);
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.encabezado{
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    align-items: center;
    width: 100%;
    height: 10%;
    
}
.tituloencabezado{
    font-size: 4.5em;
    font-weight: bold;
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(96,186, 17);
    
}
#logo{
    width: 6.5em;
    height: 6.5em;
    border: 2px solid #2a8155ab;
    margin-left: 4%;
    margin-right: 4%;
}
.contenedorMain{
    display: flex;
    margin: 3% ;
    padding: 3%;
    border-radius: 5px;
    background: rgba(3, 39, 3, 0.748);
    
}
.container{
    width: 100%;
}

.containerA{
    text-align: left;
    vertical-align: top;
    margin: 0 0.5%;
    margin-left: 3%;
    padding: 5%;
    box-sizing: border-box;
    border: 2px solid #294239ab;
    border-radius: 10px;
    background-color: #e9f8eea5;
}
.entrada{
    text-align: justify;
    height: 400%;
    vertical-align: top;
    margin: 0 0.5%;
    margin-bottom: 1.5%;
    padding:5%;
    box-sizing: border-box;
    border: 2px solid #88b2da0f;
    border-radius: 10px;
    background-color: #e9ecf813;
    font-size: 1.8em;
}
#span{
    font-size: 1.2em;
    text-align: left;
    padding-left: 3%;
    margin-bottom: 12px;
}
.encriptar{
    width: 40%;
    padding: 4%;
    font-size: 190%;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background: rgb(96,186, 17);
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    margin-left: 5%;
}
.encriptar:hover{
    background: rgb(65, 96, 38);
}
.desencriptar{
    width: 40%;
    padding: 4%;
    font-size: 190%;
    font-weight: bold;
    color: rgb(96,186, 17);
    background: rgb(0, 0, 0);
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    margin-left: 5%;
}
.desencriptar:hover{
    background: rgb(65, 96, 38);
}
.containerB{
    text-align: center;
    height: 100%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid #5c9ad4ab;
    border-radius: 10px;
    background: #ffffffb5;
    position: relative;
}
.salida{
    display: none;
    text-align: center;
    height: 90%;
    vertical-align: top;
    margin: 0 0.5%;
    margin-bottom: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    border: 2px solid #88b2da0f;
    border-radius: 10px;
    background-color: #e9ecf813;
    font-size: 1.8em;
    position: relative;
    z-index: 1;
    
}
.copiar{
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 190%;
    font-weight: bolder;
    color: rgb(96,186, 17);
    background: rgb(0, 0, 0);
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    align-items: center;
}
.copiar:hover{
    background: rgb(65, 96, 38);
}
.elementosA {
    position: sticky;
    z-index: 2;
    
}
.muñeco{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}
.titulocontainer .parrafocontainer{
    align-items: flex-start;
}
.elementosA h6{
    font-size: 2.0em;
    font-weight: bold;
}
footer{
    height: 10%;
    text-align: center;
    background: rgb(0, 0, 0);
    padding:40px;
    color: rgb(96,186, 17);
    font-size: 1.4em;
}