*{
    font-family: monospace;
}
body{
    display: flex;
    background: linear-gradient(35deg, #212c2c, #283143);
    font-family: monospace;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
header{
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(35deg, #252836, #172423);
    align-items: center;
    width: 100%;
    height: 10%;
    
}
header h1{
    font-size: 4.5em;
    font-weight: bold;
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgba(124, 212, 247, 0.982);
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 5px rgba(165, 165, 246, 0.895);
    font-family: monospace;
}
#logo{
    width: 6.5em;
    height: 6.5em;
    margin-left: 5%;
    border: 2px solid #88b3daab;
}
main{
    display: flex;
    margin: 3% ;
    padding: 4%;
    border-radius: 5px;
    background: linear-gradient(35deg, #395670, #6a9e9a);
    font-family: monospace;
    
}
.container{
    width: 100%;
}

.containerA{
    text-align: left;
    vertical-align: top;
    margin: 0 0.5%;
    margin-left: 3%;
    padding: 5%;
    box-sizing: border-box;
    border: 2px solid #88b3daab;
    border-radius: 10px;
    background-color: #e9ecf8a5;
}
.entrada{
    text-align: justify;
    height: 85%;
    vertical-align: top;
    margin: 0 0.5%;
    margin-bottom: 1.5%;
    padding:5%;
    box-sizing: border-box;
    border: 2px solid #88b2da0f;
    border-radius: 10px;
    background-color: #e9ecf813;
    font-size: 1.8em;
    font-family: monospace;
}
#span{
    font-size: 1.2em;
    text-align: left;
    padding-left: 3%;
    margin-bottom: 12px;
}
.encriptar{
    width: 40%;
    padding: 5%;
    font-size: 12px;
    font-weight: lighter;
    color:white;
    background: #072B61;
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    margin-left: 5%;
}
.encriptar:hover{
    background: #252836;
}
.desencriptar{
    width: 40%;
    padding: 5%;
    font-size: 12px;
    font-weight: lighter;
    color: #072B61;
    background: #F3F5FC;
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    margin-left: 5%;
}
.desencriptar:hover{
    background: #4f5570;
}
.containerB{
    text-align: center;
    height: 100%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid #5c9ad4ab;
    border-radius: 10px;
    background: #ffffffb5;
    position: relative;
}
.salida{
    display: none;
    text-align: center;
    height: 90%;
    vertical-align: top;
    margin: 0 0.5%;
    margin-bottom: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    border: 2px solid #88b2da0f;
    border-radius: 10px;
    background-color: #e9ecf813;
    font-size: 1.8em;
    font-family: monospace;
    position: relative;
    z-index: 1;
    
}
.copiar{
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 12px;
    font-weight: lighter;
    color: #072B61;
    background: #F3F5FC;
    border:rgba(11, 11, 76, 0.731);
    border-radius: 10px;
    align-items: center;
}
.copiar:hover{
    background: #4f5570;
}
.elementosA {
    position: sticky;
    z-index: 2;
    
}
.muñeco{
    width: 60%;
    margin-right: 10%;
    margin-left: 10%;
}
.titulocontainer .parrafocontainer{
    align-items: flex-start;
}
.elementosA h6{
    font-size: 2.0em;
    font-weight: bold;
}
footer{
    height: 10%;
    text-align: center;
    background: linear-gradient(35deg, #252836, #172423);
    padding:40px;
    color: rgb(75, 172, 204);
    font-size: 1.4em;
}